---
layout: "main.njk"
title: "FireHydrant"
headline: "FireHydrant x Mike Stilling"
description: "What Mike has been up to during his time at FireHydrant"
thumbnailAlt: "Some bullshit abstract stuff solely used for decoration"
changefreq: monthly
eleventyComputed:
    thumbnail: "{{- base.url -}}/assets/images/og/default-og.jpg"
---

<main class="overflow:hidden">
    
</main>