---
layout: "main.njk"
title: "Rewatch"
headline: "Rewatch x Mike Stilling"
description: "What Mike did during his time at Rewatch"
thumbnailAlt: "Some bullshit abstract stuff solely used for decoration"
changefreq: monthly
eleventyComputed:
    thumbnail: "{{- base.url -}}/assets/images/og/default-og.jpg"
---

<main class="overflow:hidden">
    
</main>