{% import "components/_icons.njk" as icons %}

{% macro slideTitle(direction, label)%}
    <div aria-hidden="true" class="section mb:n24 md:mb:n32">
        <div data-slide-title="{{ direction }}" class="container flex align-items:center {% if direction == 'left' %}justify-content:start{% else %}justify-content:end{% endif %} flex:nowrap uppercase tracking:tighter leading:100 font:13xl sm:font:14xl md:font:15xl lg:font:16xl color:sheet-2 overflow:hidden">
            <div data-slide-title-animate class="flex align-items:center flex-shrink:0 flex:nowrap">
                <div data-slide-title-measure class="pr:48 watermark:sheet-2 flex-shrink:0">
                    {{ label }}
                </div>
                <div class="pr:48 watermark:sheet-2 flex-shrink:0">
                    {{ label }}
                </div>
                <div class="pr:48 watermark:sheet-2 flex-shrink:0">
                    {{ label }}
                </div>
                <div class="pr:48 watermark:sheet-2 flex-shrink:0">
                    {{ label }}
                </div>
                <div class="pr:48 watermark:sheet-2 flex-shrink:0">
                    {{ label }}
                </div>
            </div>
            <div class="absolute  left:0 top:0 w:48 sm:w:128 h:100p bg:fade-left"></div>
            <div class="absolute right:0 top:0 w:48 sm:w:128 h:100p bg:fade-right"></div>
        </div>
    </div>
{% endmacro %}

{% macro csTOC() %}
    <div data-toc class="sticky md:absolute z:4 md:z:2 top:40 md:top:0 right:0 md:h:100p w:100p md:w:128 md:mt:14 bg:sheet-3 md:bg:transparent pt:6 md:pb:24">
        <div class="sticky top:72 left:0 flex flex:row md:flex:col align-items:center md:align-items:stretch justify-content:between md:justify-content:start gap:8 border-b:1 md:border-b:0 md:border-l:1 border:edge-1 font:sm sm:font:sm md:pl:32">
            <h2 class="hidden sm:block mt:n6 md:mt:n6 color:ink-3">
                Contents:
            </h2>
            <ul class="w:100p flex flex:row md:flex:col justify-content:between sm:justify-content:end md:justify-content:start sm:gap:32 md:gap:0 md:mb:n8 list:decimal list:inside color:ink-1">
                {% macro tocLink(link, number, label) %}
                    <li class="relative md:w:100p flex-shrink:0 transform translate-y:n2 md:translate-y:0">
                        <a data-toc-link data-anchor data-anchor-offset="80" href="{{ link }}" class="inline-block radius:md py:2 sm:px:4 border:1 hover:color:link-hv transition:100 focus:normal">
                            <div class="flex-shrink:0">
                                {{ label }}
                            </div>
                        </a>
                    </li>
                {% endmacro %}
                {{ tocLink('#overview', '1', 'Overview') }}
                {{ tocLink('#duties', '2', 'Duties') }}
                {{ tocLink('#outputs', '3', 'Outputs') }}
                {{ tocLink('#takeaways', '4', 'Takeaways') }}
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro csTitle(tag, label) %}
    <{{ tag }} class="md:absolute top:0 left:0 color:ink-1 w:100p max-w:672 md:w:auto">
        {{ label | safe }}
    </{{ tag }}>
{% endmacro %}

{% macro csNextCard(link, label, title, description, img, imgAlt) %}
    <a href="{{ link }}" class="relative z:1 overflow:hidden w:100p h:100p flex flex:col md:flex:row justify-content:between gap:28 pl:28 pt:28 bg:sheet-2 border:1 border:edge-1 radius:2xl hover:bg:sheet-1 focus:normal group transition:200">
        <div class="relative z:3 w:100p flex flex:col align-items:start gap:8 pr:28 md:pr:0">
            <div class="flex align-items:center gap:4 color:ink-1 font:xs">
                <p>
                    {{ label | safe }}
                </p>
                {{ icons.chevRight('w:12 transform group-hover:translate-x:4 transition:100 cubic-out')}}
            </div>
            <h2 class="font:5xl leading:110 tracking:tighter">
                {{ title | safe }}
            </h2>
            <p class="color:ink-1">
                {{ description | safe }}
            </p>
        </div>
        <div class="relative z:1 overflow:hidden flex flex:col w:100p ratio:4-3 sm:ratio:unset sm:min-h:192 sm:max-h:none h:100p bg:black bg-opacity:80 border-l:1 border-t:1 radius-tl:md border:edge-1 shadow:2xl">
            <div class="relative w:100p h:100p flex align-items:start justify-content:start">
                <img src="{{ img }}" alt="{{ imgAlt }}" class="flex object:cover object:left-top w:100p h:auto sm:h:100p sm:w:auto">
            </div>
        </div>
    </a>
{% endmacro %}

{% macro csForm(eyebrow, headline, description) %}
    <div class="col-start:7 md:col-start:8 col-end:13 w:100p h:100p flex flex:col text:center align-items:center gap:8 p:28 bg:sheet-2 border:1 border:edge-1 radius:2xl">
        <p class="color:link-rg font:xs mb:n2">
            {{ eyebrow | safe }}
        </p>
        <h2 class="font:5xl leading:110 tracking:tighter">
            {{ headline | safe }}
        </h2>
        <p class="color:ink-1 font:sm sm:font:md sm:max-w:320">
            {{ description | safe }}
        </p>
        <form name="demo" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/thank-you" class="relative flex-grow:1 flex flex:col align-items:start justify-content:between w:100p gap:16 text:left">
            <div class="relative flex flex:col gap:8 w:100p flex-grow:1">
                <!-- Hidden Fields -->
                <input type="hidden" id="lead-source" name="lead source" value="homepage">
                <div class="hidden"><input name="bot-field"></div>
                <!-- Field: Name -->
                <div class="form:field">
                    <label for="name" class="form:label" required>
                        Name
                    </label>
                    <input type="text" id="name" name="name" placeholder="Sam Jones" class="form:input" required>
                </div>
                <!-- Field: Company -->
                <div class="form:field">
                    <label for="company" class="form:label" required>
                        Company
                    </label>
                    <input type="text" id="company" name="company" placeholder="Acme" class="form:input" required>
                </div>
                <!-- Field: Email -->
                <div class="form:field">
                    <label for="email" class="form:label" required>
                        Email
                    </label>
                    <input type="email" id="email" name="email" placeholder="sam@acme.com" class="form:input" required>
                </div>
                <!-- Field: Note -->
                <div class="form:field">
                    <label for="email" class="form:label" required>
                        Note
                    </label>
                    <textarea id="note" name="notes" rows="3" class="form:input" style="overflow-y:auto; word-wrap:break-word" placeholder="Let's set some time to meet" required></textarea>
                </div>
            </div>
            <div class="w:100p flex align-items:center justify-content:between">
                <button type="submit" title="Submit form" class="btn btn:md btn:hover">
                    <span>Submit</span>
                    {{ icons.chevRight('mr:n4 w:18 sm:w:16') }}
                </button>
                <a href="mailto:mike@mikestilling.com" target="_blank" class="flex align-items:center gap:2 font:xs text:right color:ink-1 focus:normal radius:sm">
                    Or <span class="hidden sm:inline">send Mike</span> <span class="link:highlight"><span class="hidden sm:inline">an</span> email</span> <span class="sm:hidden">Mike</span>
                </a>
            </div>
        </form>
    </div>
{% endmacro %}

{% macro csBrowserNav (siteUrl) %}
    <div class="relative flex align-items:center justify-content:between bg:sheet-2 w:100p h:24 border-b:1 border:edge-1 px:8">
        <div class="relative flex align-items:center gap:4 h:100p pt:1">
            <div class="block w:6 h:6 bg:aux-pink border:aux-pink bg-opacity:50 border:1 radius:full"></div>
            <div class="block w:6 h:6 bg:aux-yellow border:aux-yellow bg-opacity:50 border:1 radius:full"></div>
            <div class="block w:6 h:6 bg:link-rg border:link-rg bg-opacity:50 border:1 radius:full"></div>
        </div>
        <div class="font:xs color:ink-1 mt:1 tracking:loose">
            {{ siteUrl }}
        </div>
        <div class="block w:24"></div>
    </div>
{% endmacro %}