---
layout: "main.njk"
changefreq: monthly
---

<section data-first-section class="section section:hero section:pb">
    <div class="container flex flex:col align-items:center">
        
        <div class="block w:100p max-w:672 font:xl leading:170">
            <!-- Page Content -->
            {{ content | safe }}
        </div>

    </div>
</section>