@use "sass:map";
@use "uniform" as *;

.section { @include apply("relative w:100p flex flex:col align-items:center justify-content:center sm:px:48"); }
.section\:py { @include apply("py:72 sm:py:112 md:py:160"); }
.section\:pt { @include apply("pt:72 sm:pt:112 md:pt:160"); }
.section\:pb { @include apply("pb:72 sm:pb:112 md:pb:160"); }
.section\:hero { @include apply("pt:96 sm:pt:160 md:pt:160 pb:72 sm:pb:112 md:pb:144"); }


.container { @include apply("relative w:100p md:max-w:1152 px:24 sm:px:0"); }
.container\:no-pad { @include apply("relative w:100p md:max-w:1152"); }

.sm\:grid\:normal { @include apply("sm:grid sm:gap:24 md:gap:48"); }
.md\:grid\:normal { @include apply("md:grid md:gap:48"); }

.btn { @include apply("flex align-items:center flex-shrink:0 space:nowrap bg:sheet-1 radius:full border:1 border:edge transition:200 outline:none"); }

.btn\:xs { @include apply("font:xs gap:4 leading:100 px:12 py:6"); }
.btn\:xs > p { transform: translateY(-0.03125rem); }
.btn\:md { @include apply("font:lg sm:font:md gap:4 leading:100 px:28 sm:px:20 pt:16 pb:18 sm:pt:12 sm:pb:14"); }

.btn\:fancy {
    @include apply('bg:fade-1-2');
    box-shadow: -8px -8px 24px rgba(var(--sheet-0), 0.75),
                12px 12px 32px rgba(var(--sheet-4), 0.75);
}

.btn\:hover:hover,
.btn\:hover:focus-visible { @include apply("bg:sheet-0"); }

.btn\:disabled { @include apply("bg:transparent color:ink-1 opacity:90"); }

.btn\:success {
    @include apply("bg:link-rg bg-opacity:6 radius:full border:1 color:link-rg");
    border-color: rgba(var(--link-rg), 0.3);
}

.btn\:error {
    @include apply("bg:aux-pink bg-opacity:6 radius:full border:1 color:aux-pink");
    border-color: rgba(var(--aux-pink), 0.3);
}