@use "sass:map";
@use "uniform" as *;

.serif\:pairing { font-size: 1.2em; }

.highlight\:text {
    background: var(--text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.text\:fade-down {
    background: var(--fade-1-3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.text\:fade-up {
    background: var(--fade-3-1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.watermark\:sheet-0 {
    background: var(--solid-0-0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.watermark\:sheet-2 {
    background: var(--solid-2-2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.watermark\:ink-3 {
    background: var(--solid-i-i);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.link { @include apply('hover:color:link-hv focus:color:link-hv focus:underline outline:none') }