@use "colors" as *;

$gradients: (
    text: linear-gradient(0deg, rgba(var(--ink-sh), 1) 0%, rgba(var(--ink-hl), 1) 100%),

    fade-right: linear-gradient(90deg, rgba(var(--sheet-3), 0) 0%, rgba(var(--sheet-3), 1) 100%),
    fade-left:  linear-gradient(90deg, rgba(var(--sheet-3), 1) 0%, rgba(var(--sheet-3), 0) 100%),
    fade-down: linear-gradient(180deg, rgba(var(--sheet-3), 0) 0%, rgba(var(--sheet-3), 1) 100%),
    fade-up:   linear-gradient(0deg,   rgba(var(--sheet-3), 0) 0%, rgba(var(--sheet-3), 1) 100%),

    fade-down-2: linear-gradient(180deg, rgba(var(--sheet-2), 0) 0%, rgba(var(--sheet-2), 1) 100%),

    fade-0-1:   linear-gradient(0deg,  rgba(var(--sheet-1), 1) 0%, rgba(var(--sheet-0), 1) 100%),
    fade-1-2:   linear-gradient(0deg,  rgba(var(--sheet-2), 1) 0%, rgba(var(--sheet-1), 1) 100%),
    fade-1-3:   linear-gradient(0deg,  rgba(var(--sheet-3), 1) 0%, rgba(var(--sheet-1), 1) 100%),
    fade-3-1:   linear-gradient(0deg,  rgba(var(--sheet-1), 1) 0%, rgba(var(--sheet-3), 1) 100%),

    solid-0-0:   linear-gradient(0deg,  rgba(var(--sheet-0), 1) 0%, rgba(var(--sheet-0), 1) 100%),
    solid-2-2:   linear-gradient(0deg,  rgba(var(--sheet-2), 1) 0%, rgba(var(--sheet-2), 1) 100%),
    solid-i-i:   linear-gradient(0deg,  rgba(var(--ink-3), 1) 0%, rgba(var(--ink-3), 1) 100%),

    video-out: radial-gradient(50% 50% at 50% 50%, rgba(var(--sheet-2), 0) 66%, rgba(var(--sheet-2), 1) 100%),

    fade-up-header:   linear-gradient(0deg,   rgba(var(--sheet-3), 0) 0%, rgba(var(--sheet-3), 0.5) 25%, rgba(var(--sheet-3), 1) 100%),
    down-lit: radial-gradient(100% 100% at 50% 0%, rgba(var(--sheet-0), 1) 0%, rgba(var(--sheet-3), 1) 100%),
);
