---
layout: "main.njk"
title: "Thank You!"
headline: "Mike will be in touch soon!"
description: "You just submitted a form on Mike's site."
thumbnailAlt: "Some bullshit abstract stuff solely used for decoration"
changefreq: weekly
eleventyComputed:
    thumbnail: "{{- base.url -}}/assets/images/og/default-og.jpg"
---
{% import "components/_icons.njk" as icons %}